*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-size: 16px;
}

ul {
    font-size: 0px;
 
}
li {
    display: inline-block;
    background-color: red;
    padding: 10px;
    font-size: 2rem;
    
}

@media screen and (min-width:300px) and (max-width: 500px) {
    li {
        display: block;
        background-color: rgb(4, 255, 0);
        padding: 10px;
        font-size: 2rem;
        
    }
}
@media screen  and (max-width:200px){
    li{
        display: block;
        background-color: blue;
    }
}